<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="POST" action="/api/dogs'">
      <input type="text" name="firstName" value="First name"/>
      <input type="text" name="lastName" value="Last name"/>
      <input type="text" name="dogName" value="What's your dog's name?">
      <input type="text" name="email" value="Email" /> <!-- submit to server route -->
      <input type="password" name="password" value="Password" /> <!-- submit to server route -->
      <input type="submit" value="Create an Entry" />
    </form>
  </body>
</html>
