<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/main.css">

    <title>barkr | dog-dating</title>

</head>

<body class="splash">

    <!-- Begin Site Wrapper -->
    <div class="site-wrapper">
        <div class="site-wrapper-inner">

            <!--Start div Container-->
            <div class="container">

                <!-- Begin Header -->
                  <div class="masthead clearfix">
                      <div class="container inner">
                          <h3 class="masthead-brand"></h3>
                          <nav>
                              <ul class="nav masthead-nav">
                                  <li>
                                      <button a href = "https://www.google.com/maps?q=san+francisco+dog+parks+map&um=1&ie=UTF-8&sa=X&ved=0ahUKEwiPvqXSs9zSAhUDxWMKHdAWDMQQ_AUICCgB" type="button" class="btn btn-default" aria-label="Map" onclick = "location.href = 'https://www.google.com/maps?q=san+francisco+dog+parks+map&um=1&ie=UTF-8&sa=X&ved=0ahUKEwiPvqXSs9zSAhUDxWMKHdAWDMQQ_AUICCgB'";>
                                          <span class="glyphicon glyphicon-map-marker" aria-hidden="true">
                                          </span>
                                      </button>
                                  </li>
                                  <li>
                                      <button a href = "/login" type="button" class="btn btn-default" aria-label="Sign In" onclick = "location.href = '/login'";>
                                          <span class="glyphicon glyphicon-user" aria-hidden="true">
                                          </span>
                                      </button>
                                  </li>
                                  <li>
                                      <button a href = "/signup" type="button" class="btn btn-default" aria-label="Create Profile" onclick="location.href = '/signup';">
                                          <span class="glyphicon glyphicon-plus" aria-hidden="true">
                                          </span>
                                      </button>
                                  </li>
                              </ul>
                          </nav>
                      </div>
                  </div>
                  <!--End Header-->

                  <div class="inner cover">
                      <h1 class="cover-heading clr-lightgreen"><a href="/">barkr</a></h1>
                      <p class="lead clr-darkgrey">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      <p class="lead">
                          <a href="/api/dogs" class="btn btn-lg btn-default">Meet some pups!</a>
                      </p>
                  </div>

            </div>
            <!-- End Div Container -->


            <!-- footer -->
            <div class="container inner footer">
              <footer id="footer">
                  <!-- <h3 class="masthead-brand"></h3> -->
                  <nav>
                      <ul class="container nav masthead-nav-center">
                          <li class="footer-block ">
                            Rosenbloom | Mangold 2017
                            <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
                          </li>
                      </ul>
                  </nav>
                </footer>
            </div>
            <!--End footer-->


        </div>
    </div>
<!--End Site Wrapper-->

</body>
</html>
