/*
 * Globals
 */

/* Links */
a,
a:hover,
a:active {
  color: #59f442;
}

/* Custom default button */
.btn-default {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

.btn-default:hover,
.btn-default:focus {
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
  letter-spacing: 1px;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  background-image: url(../images/justin-veenema-156592.jpg);
  background-size: cover;
  /*background-position: center;*/
}

h1 {
  font-size: 8em;
}

.letters-spaced {
  letter-spacing: 1px;

}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 600px;
  /*background-color: #333;    DELETED TO ALLOW BACKGROUND PHOTO TO APPEAR*/
  height: 100%;
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > button:hover,
.masthead-nav > button:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
  border-bottom-color: #59f442;

}
.masthead-nav > .active > button,
.masthead-nav > .active > button:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #59f442;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
  .masthead-nav-center {
    float: center;
  }
}

.footer {
    padding-top: 60px;
    font-weight: 100;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.clr-lightgreen {
  color: #59f442
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

}
